body {
  background: #1d1e20;
  font-size: 13px;
  color: #fff;
}

.description {
  padding: 8px 8px 8px 24px;
  background: #252528;
}
.description span {
  background: #2c3038;
  color: #8ab4f8;
}

.row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}

.btn {
  background: #252528;
  border-radius: 4px;
  color: #8ab4f8;
  border: 1px solid rgb(95, 99, 104);
  padding: 8px;
}
.btn:hover {
  background: #2c3038;
}
.exec-btn {
  white-space: nowrap;
  flex-grow: 1;
  text-align: left;
}
.del-btn {
  color: #f1592b;
  width: 32px;
  margin-left: 8px;
}

.form {
  display: flex;
}
.input {
  background: #252528;
  padding: 8px;
  color: #fff;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid rgb(95, 99, 104);
  outline: none;
  border-radius: 4px;
}
